/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea
.vscode

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yalc
yalc.lock
yarn.lock
package-lock.json

.medusa